page-about {
	.toolbar-title {
   	 color: #009cde;
   	 font-family: Dubai;
   	 font-size:20px;
   	 font-weight: 300;
  	}

	.aboutDiv1 {
		background-image: url('https://ripdubai.com/images/aboutBg.png');
		background-repeat: no-repeat;
		background-size: cover;
		/*min-height: 300px;*/

		.aboutContent {
			color: white;
			font-family: Dubai;
			font-size: 12px;
			line-height: 12px;
		}
	}
	.aboutDiv2 {
		display:none;
		background-image: url('https://ripdubai.com/images/aboutBg.png');
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 145px;
		margin-bottom: 0;
		img {
			margin-top: 60px;
			margin-bottom: 25px;
		}

		.aboutContent {
			color: white;
			font-family: Dubai;
			font-size: 10px;
			line-height: 12px;
		}
		.grayLayour1 {
			background: rgba(73, 74, 74, 0.8);
			/*background: center center fixed rgba(255,0,0,0.5);*/
		}
		.blueLayour1 {
			background: rgba(0,156,222, 0.8);
			font-size: 14px;
			padding-top: 30px;
		}
	}
}
