
<ion-header >
    <ion-navbar>
        <button ion-button menuToggle><ion-icon ios="ios-list" md="md-list"></ion-icon></button>
        <ion-title><img src="https://ripdubai.com/images/logo_m.png" height="40"></ion-title>
        <ion-buttons style="width: 50px;" end><button ion-button ></button> </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding class="homePageCSS">

    <!-- <ion-slides text-start class="sliderMain" zoom="true" loop="false" slidesPerView="1" effect="coverflow" speed="200">
        <ion-slide class="sliderMainSlide"  *ngFor="let item of ActivityArry">
          <div class="slideMainContainer">
            <ion-label class="headerLbl">RIP DUBAI<span class="headerSubLbl"> EXCLUSIVE</span></ion-label>
            <img class="imageSlider" src="https://www.silverwingtechnologies.com/clients/img/activity1.jpg">
            <ion-label class="headerLblTwo">BBQ DONUT<span class="headerSubLblTwo">BOAT</span></ion-label>
            <p class="sliderDics"  padding text-left>A Jet ski is a small machine like a motorcycle that is powered by a jet engine and can travel on the surface of water. RIP Jet Ski is self-propelled vehicle for 1 to 3 persons, which skims across water on a flat keel, and is steered by means of handlebars.
                RIP Jet Ski is the most extreme form water riding, where the rider surfs waves, using them as a jump ramp for aerial maneuvers.</p>
          </div>
        </ion-slide>
    </ion-slides> -->

    <ion-slides text-start class="sliderMain" zoom="false" loop="false" slidesPerView="1" effect="coverflow" speed="200"  (swipe)="swipeEvent($event)" >

        <ion-slide class="sliderMainSlide"  *ngFor="let item of ActivityArry">


                   <div class="slideMainContainer">
                <ion-label class="headerLbl">RIP DUBAI<span class="headerSubLbl"> EXCLUSIVE</span></ion-label>
                <img class="imageSlider" src="{{item.image1}}">
                <ion-label class="headerLblTwo">{{item.name}}<span class="headerSubLblTwo"></span></ion-label>

                <ion-label class="sliderDics"  padding text-left>
                    <span [innerHTML]="item.description"></span>  
                </ion-label>

            </div>

        </ion-slide>



    </ion-slides>
    <ion-icon class="backButtonIcon" name="ios-arrow-back" *ngIf="counter > 0" (click)="slidePrev()"></ion-icon> 
    <ion-icon class="backButtonIcon" name="ios-arrow-forward" (click)="slideNext()"></ion-icon> 


    <button class="bookbtn" (click)="booking()" margin-top ion-button color="yellow" full>BOOK NOW</button>

</ion-content>
