
<ion-header>
    <ion-navbar>

        <button class="headerBackButton" ion-button menuToggle>
            <ion-icon class="backButtonIcon" name="ios-arrow-back"></ion-icon> Back
        </button>

        <ion-title><img src="https://www.silverwingtechnologies.com/clients/img/logo.png" height="40"></ion-title>

        <ion-buttons style="width: 50px;" end>
            <button ion-button >
            </button>
        </ion-buttons>

    </ion-navbar>
</ion-header>

<ion-content padding>
    <p class="pHead" text-center>OUR <strong>PRODUCTS</strong></p>

    <ion-slides text-start class="sliderMain" zoom="true" loop="false" slidesPerView="1" effect="coverflow" speed="200" (swipe)="swipeEvent($event)">
        <ion-slide class="sliderMainSlide"  *ngFor="let item of ActivityArry; let i = index">


                   <div class="slideMainContainer">
                <ion-label class="headerLbl">RIP DUBAI<span class="headerSubLbl"> EXCLUSIVE</span></ion-label>
                <img class="imageSlider" src="{{item.image1}}">
                <ion-label class="headerLblTwo">{{item.name.toUpperCase()}}<span class="headerSubLblTwo"></span></ion-label>

                <ion-label class="sliderDics"  padding text-left>
                    <span [innerHTML]="item.description"></span>  
                </ion-label>
            </div>

        </ion-slide>

    </ion-slides>
    <ion-icon class="backButtonIcon" name="ios-arrow-back" *ngIf="counter > 0" (click)="slidePrev()"></ion-icon> 
    <ion-icon class="backButtonIcon" name="ios-arrow-forward" (click)="slideNext()"></ion-icon> 

    <button class="bookbtn" (click)="BookNowClick(i)" margin-top ion-button color="yellow" full>BOOK NOW</button>

    <!-- <button ion-button secondary menuToggle>Toggle Menu</button> -->
</ion-content>
