page-activities {
	.toolbar-title {
		color: #009cde;
		font-family: Dubai;
		font-size:20px;
		font-weight: 300;
	}
  .pHead {
		color: #009cde;
		font-size:20px;
		margin-top:0px;
		margin-bottom: 12px;
	}
	.swiper-container-3d .swiper-slide-shadow-right {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(transparent));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), transparent);
  }
  .swiper-container-3d .swiper-slide-shadow-left {
      background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(transparent));
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0), transparent);
  }
  .sliderMain{
    height: 465px;
    width: 100%;
    .sliderMainSlide{
      width: calc(100% - 50px);
    }
    .slideMainContainer{
      width: calc(100% - 50px);
      margin-left: 25px;
      background-color: #039cde;
      border: 3px solid #039cde;
      border-radius: 5px;
      position: absolute;
      top: 0;
      height: 100%;

    }
    .headerLbl{
      width: 100%;
      background-color: #facf09;
      border-radius: 3px 3px 0 0;
      margin: 0;
      height: 35px;
      padding-top: 6px;
      font-family: Myriad Arabic;
      color: #009cde;
      font-weight: bold;
      .headerSubLbl{
        font-weight: 100;
      }
    }
    .imageSlider{
      height: 230px;
      width: 100%;
    }
    .headerLblTwo{
      width: 100%;
      background-color: #facf09;
      border-radius: 3px 3px 0 0;
      margin: 0;
      height: 40px;
      padding-top: 9px;
      font-family: Myriad Arabic;
      color: white;
      font-weight: bold;
      margin-top: -3px;
      .headerSubLblTwo{
        font-weight: 100;
      }
    }
    .sliderDics{
      font-family: Dubai;
      color: white;
      font-size: 11px;
      margin-top: 0px;
      margin-bottom: 0;
      white-space: normal;
      padding-bottom: 12px;
      height: 134px;
    }
  }
	.bookbtn {
	  color: white;
		font-size: 18px;
		font-size: 20px;
    height: 40px;
	}
	.sliderDics ul li{
		list-style: none;
	}
}
