
.followBtn {
	font-size: 12px !important;
    padding-left: 16px !important;
}
.sidebarBg {
	background-color:  #050505 !important;
	color: white !important;
	font-family: sans-serif;
}  

.item-inner {
	border-bottom: none !important;
}
.item-block:last-child {
	border-bottom: none !important;
}
.item-inner {
	background-image: none !important;
}
.item-ios {
	font-size: 13px !important;
}
.social-icon {
	padding-top: 12px;
	font-size:25px !important;
	color: #050505 !important;
}
.social-box-bg {
	height: 50px;
	width: 50px;
	background-color: #009cde !important;
}
.menu.menu-left{
	width: calc(100% - 70px) !important;
}



.toolbar-title {
    text-align: center;
}

.headerBackButton{
	font-size: 18px;
    font-weight: 300;
	text-transform: none;
	.backButtonIcon{
		font-size: 26px;
		padding-right: 5px;
	}
}
.inAppBrowserWrap {
  background-color: rgba(0,0,0,0.75);
  color: rgba(235,235,235,1.0);
}
.inAppBrowserWrap menu {
  overflow: auto;
  list-style-type: none;
  padding-left: 0;
}
.inAppBrowserWrap menu li {
  font-size: 25px;
  height: 25px;
  float: left;
  margin: 0 10px;
  padding: 3px 10px;
  text-decoration: none;
  color: #ccc;
  display: block;
  background: rgba(30,30,30,0.50);
}
.inAppBrowserWrap menu li.disabled {
    color: #777;
}